* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}
#main {
    width: 100%;
    height: 100%;
    /* background-color: aqua; */

    /* background-image: url(https://images.unsplash.com/photo-1553117595-ce350239bde9?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */

    background-image: url(https://images.unsplash.com/photo-1658239828111-75a642ac6b6d?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);

    background-size: cover;
}

#overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#overlay h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "Anurati";
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 30px;
    color: #fff;
}

#line{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35%;
    height: 1px;
    background-color: #fff;

}

button {
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 160px;
    height: 45px;

    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-family: "Anurati";
    font-size: 10px;
    letter-spacing: 4px;
    
}

button:hover{
    background-color: white;
    color: black;
}