* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html , body{
    width: 100%;
    height: 100%;

}

#car1 {
    /* position: absolute; */
    width: 120px;
    height: 170px;
    background-color: red;
}

/* position absolute mei obj upper uth jata hain */

#car2 {
    /* position: absolute; */
    width: 150px;
    height: 190px;
    background-color: blue;
}

#car3 {
    /* position: absolute; */
    width: 190px;
    height: 210px;
    background-color: green;
}


#box {
    position: relative;
    /* comment position relative and see the difference */
    width: 200px;
    height: 200px;
    background-color: red;

}

#cube {
    position: absolute;
    right: 50%;

    width: 50px;
    height: 50px;
    background-color: yellow;
}
