* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    width: 100%;
    height: 100%;

}

#main {
    display: flex;
    width: 100%;
    height: 100%;

}

/* jine elements ko side by side lana hain to unke parent ko dekiye */
/* aur parent mei  " display : flex" */

#left {
    width: 50%;
    height: 100%;
    /* background-color: aqua; */
    background-image: url(https://i.pinimg.com/originals/89/6c/8e/896c8e847fc11704a8d1d1e667f174cb.jpg);
    background-size: cover;
    background-position: center;
}

#right {
    width: 50%;
    height: 100%;
    /* background-color: yellow; */
    /* background-image: url(https://img.freepik.com/premium-photo/ecommerce-apple-all-products-devices_862994-4609.jpg); */
    /* background-image: url(https://w0.peakpx.com/wallpaper/454/474/HD-wallpaper-apple-products-on-table.jpg); */
    background-image: url(https://c0.wallpaperflare.com/preview/173/666/362/black-and-white-iphone-apple-product.jpg);
    background-size: cover;
    background-position: center;
}

#overlay1 {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-color: rgba(0, 0, 0, 0.541);

}

#center1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: center; 
}

#center1 h1{
    font-size: 50px;
    font-weight: 100;
}

#center1 p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#center1 button{
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: white;
    border: 1px solid white;

}


#overlay2 {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-color: rgba(255, 255, 255, 0.541);

}

#center2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    text-align: center; 
}

#center2 h1{
    font-size: 50px;
    font-weight: 100;
}


#center2 p{
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#center2 button{
    width: 150px;
    height: 45px;
    background-color: transparent;
    color: black;
    border: 1px solid black;

}


