*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html ,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color:palevioletred; */
}
/* 
#cover{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 30%;
    height: 90%;
    background-image: url(https://images.unsplash.com/photo-1604782206219-3b9576575203?q=80&w=1897&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
   
} */



/* @media(max-width:500px) {
    #cover {
        position: absolute;
        left: 0;
        width: 100%;
        height: 100%;
    }
} */


#cards{
    align-items: flex-start;
    
    display: flex;
    min-height: 200px;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

#cards .card{
    padding: 20px;
    width: 300px;
  
    background-color: rgba(255, 0, 0, 0.333);
}

@media(max-width:1100px){
    #cards{
        flex-direction: column;
    }
}


/* microsoft website for example */

