* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html,body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;

}


#left{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:#AFD8E4;
    clip-path: polygon(0 0 ,60% 0, 40% 100%, 0 100%);

}


#left img{
 
    position: absolute;
    left: 12%;
    bottom: 0;
    height: 70%;
    width: 20%;
}


#right{
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #F1E5E5;
    clip-path: polygon(60% 0,100% 0,100% 100%,40% 100%);

}   



