
* {
    margin: 0;
   padding: 0;
   box-sizing: border-box;

}

/* ctrl + d   : for copy  */

html, body{
    height: 100%;
    width: 100%;
}


#main{
    height: 100%;
    width: 100%;

    /* top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%); */

    background-image: url(https://images.unsplash.com/photo-1632783242863-35e5ea3079d5?q=80&w=1886&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 25%;

}


#nav {
    position: relative;
    padding: 0 60px;   
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
   
    
}


#nav #nlinks{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    
}


/* important step */
#nav i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color:white;
    border-radius: 50%;

}


#nlinks{
    display: flex;
    gap: 30px;
}


#nlinks a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}


#nlinks #active::before{
    content: "";
    width: 40%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translate(-50% ,0);

}


#nav h5{
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid white;
}


#text{
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(0%,-50%);
    color: white;
    width: 40%;

}


#text h6{
    display: flex;
}


#text h6 span{
    line-height: 25px;
    font-size: 30px;
}

#text h1{
    font-size: 60px;
    line-height: 1;
    margin-top: 20px;
}


#line{
    width: 120px;
    height: 2px;
    background-color: white;
}


#lineandtext{
    display: flex;
    margin-top: 30px;
}


#lineandtext p{
    width:70%;
    margin-top: -5px;
    line-height: -10px;
    font-size: 12px;
}


#bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 15%;
    background-color: white;
}


#cube{
    height: 40px;
    width: 40px;
    background-color:#EDE0D8;
   position: absolute;
   top: -40px;
   right: -40px;
  
   display: flex;
   align-items: center;
   justify-content: center;
}


#bottom .sec p{
    opacity: .5;
    font-size: 14px;
    font-weight: 500;
}