* {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #dadada;
}

#box1{
    width: 150px;
    height: 150px;
    background-color: red;
}

#box2{
    width: 150px;
    height: 150px;
    background-color: yellow;
}

#box3{
    width: 150px;
    height: 150px;
    background-color: green;
}