* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
    
}

#left{
    width: 80%;
    height: 100%;
    background-color: red;
}

#ltop{
    width: 100%;
    height: 70%;
    background-color: rebeccapurple;
}

#lbottom{
    width: 100%;
    height: 30%;
    background-color: goldenrod;
}


#right{
    width: 20%;
    height: 100%;
    background-color:green;
}

#rtop{
    width: 100%;
    height: 70%;
    background-color: yellowgreen;
}


#rbottom{
    width: 100%;
    height: 30%;
    background-color: palevioletred;
}