* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}



#main{
    display: flex;

    width: 100%;
    height: 100%;
    background-image: url(https://images.pexels.com/photos/531602/pexels-photo-531602.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);

    /* background-image: url(https://images.unsplash.com/photo-1535275492947-031e8e66eab5?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */

    background-size: cover;
    background-position: center;

}



#main #left{
    width: 30%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.221);
}

#nav{
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
    /* justify-content: space-between; 
     align-items: center; */
   
    position: absolute;
}

#nav #nleft{
   width: 30%;
   position: absolute;
   padding: 0 80px;
   background-color: red;
   text-decoration: none;
    
}

#nav #nright{
    width: 70%;
    height: 100%;
    bottom: 0;
    right: 0;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    gap: 90px;

    

    
}

#main #right{
    width: 70%;
    height: 100%;

}